<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>
   <div class="wrapper">
    {%- if page_paths -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
          </span>
        </label>

        <div class="trigger">
            <a class="page-link" href="/about/">About</a>
            <a class="page-link" href="/swingcal/">SwingCal</a>
            <div class="dropdown">
                <button class="dropbtn">Events</button>
                <div class="dropdown-content">
                    <a href="/LaN/">Lindy at Night</a>
                    <a href="/">Workshops & Practicas</a>
                    <a href="#">Berkeley Lindy Exchange</a>
                </div>
            </div>
            <a class="page-link" href="/get-involved/">Get Involved</a>
            <a class="page-link" href="/faq/">FAQ</a>
        </div>
      </nav>
    {%- endif -%}
  </div>

</header>
