/**
 * Site header
 */
.site-header {
    #title-box{
        width:100%;
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 2px;
        @include media-query($on-palm){
            margin-bottom: 7px;
        }
        z-index: 5;
    }
  position: absolute;
  top: 0px;
  background: $saddle-brown-color;
  width: 100%;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.site-title {
  @include relative-font-size(2.5);
  font-weight: 400;
  font-family: "Rousseau";
  line-height: $base-line-height * $base-font-size * 1;

  &,
  &:visited {
    color: $gainsboro-color;
  }
  @include media-query($on-palm){
    line-height: $base-line-height * $base-font-size * 1;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: $saddle-brown-color;
  @include media-query($on-palm){
      background-color: $slate-color-dark;
  }
  color: $gainsboro-color;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  z-index: 3;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  @include media-query($on-palm){
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
      min-width: 100px;
      width: 120px;
      font-size: 12px;
  }
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $gainsboro-color;
  background-color: $slate-color-dark;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: $slate-color-dark;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: $slate-color-dark;
    @include media-query($on-palm){
        position: relative;

    }
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: $slate-color-dark;}

.site-nav {
  float: center;
  line-height: $base-line-height * $base-font-size;
  @include relative-font-size(1);

  .nav-trigger {
      display: none;
  }

  .menu-icon {
      display:none;

      @include media-query($on-palm){
          display: block;
          float: center;
          width: 50px;
          height: 45px;
          line-height: 0;
          padding-top: 17.5px;
          text-align: center;
          > svg path {
              fill: $gainsboro-color;
          }
      }
  }

  .page-link {
    color: $gainsboro-color;
    line-height: $base-line-height*0.8;
    margin: -webkit-calc(5% - (#{$spacing-unit} / 2));
  }

  @include media-query($on-palm) {
    position: absolute;
    right:0;
    top: 0;
    margin-top: 0px;
    background-color: $saddle-brown-color;
    text-align: center;
    z-index: 3;
    width: 49px;


    label[for="nav-trigger"] {
        display: block;
        width: 50px;
        height: 50px;
        z-index: 4;
        cursor: pointer;
      }

    input ~ .trigger {
      clear: both;
      display: none;
      background: $slate-color-dark;
    }

    input:checked ~ .trigger {
      display: block;
      float: right;
      margin-top: 0;
      margin-right: 0;
      text-align: right;
      width: 125px;
      padding-bottom: 5px;
      z-index: 4;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    }

    .page-link {
      display: block;
      padding: 10px 10px;
      margin: 0px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  background-color: $slate-color-dark;
  border-top: 3px solid $slate-color-dark;
  position: fixed;
  padding: 5px;
  height: 8vh;
  bottom: 0px;
  width: 100%;
  z-index: 5;
  @include media-query($on-palm){
      height: 16vh;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  margin-top: 75px;
  @include media-query($on-palm){
    margin-top: 40px;
  }
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 15px;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $gainsboro-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.2);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/*
FAQ page layout
*/

.textbox {
    text-align: left;
    background: $slate-color-dark;
    color: $gainsboro-color;
    margin: 10px;
    padding: 15px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    h1 {
        @include relative-font-size(1.1);
    }
    @include media-query($on-palm){
        float: center;
        position: relative;
        top: 10px;
    }
    z-index: 1;
}

#Q1 {
    max-width: 400px;
    top: 100px;
    margin-left: 10%;
    @include media-query($on-palm){
        max-width: $on-palm;
        top: 15px;
        align: center;
        margin: auto;
    }
}

#Q2 {
    max-width: 450px;
    top: 240px;
    margin-right: 10%;
    @include media-query($on-palm){
        max-width: $on-palm;
        top: 25px;
        align: center;
        margin: auto;
    }
}

#Q3 {
    max-width: 450px;
    top: 240px;
    margin-right: 10%;
    @include media-query($on-palm){
        max-width: $on-palm;
        top: 25px;
        align: center;
        margin: auto;
    }
}

#Q4 {
    max-width: 450px;
    top: 240px;
    margin-right: 10%;
    @include media-query($on-palm){
        max-width: $on-palm;
        top: 25px;
        align: center;
        margin: auto;
    }
}
