---
layout: default
title: Frequently Asked Questions
---
<h1>Frequently Asked Questions</h1>
<div class="textbox" id="Q1">
    <h1> Do I need to know how to dance to attend Lindy on Sproul?</h1>
    <p> Absolutely not! We offer beginner lessons at every Lindy on Sproul
        event, and we strive to create an inclusive and non-judgemental
        learning environment.
    </p>
</div>
<div class="textbox" id="Q2">
    <h1> What are “roles” in swing dancing? </h1>
    <p> Broadly speaking, there are two roles in a partnered swing
        dance: the <b>lead</b> and the <b>follow</b>. The lead selects moves and
        initiates the movements in a dance. The follow responds to the
        lead’s suggestions and contributes to the styling of the dance.
    </p>
</div>
<div class="textbox" id="Q3">
    <h1> </h1>
    <p> lorem dolem ipsum </p>
</div>
<div class="textbox" id="Q4">
    <h1> </h1>
    <p> alright alright alright </p>
</div>


{{ content }}
