<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {%- include head.html -%}

  <body>
    <div class="top-card">
        <div class="top-card-background">
            <img class="top-card-background-image" src="{{ '/dennis-eli.jpg' | relative_url }}">
            <img class="top-card-background-image" src="{{ '/placeholder1.jpg' | relative_url }}">
            <img class="top-card-background-image" src="{{ '/placeholder2.jpg' | relative_url }}">
            <script>
            document.addEventListener('DOMContentLoaded', function() {
                let count = 0;
                const targets = document.querySelectorAll(".top-card-background-image");
                gsap.set(targets, { xPercent: 100 });
                gsap.set(targets[0], { xPercent: 0 });

                function slideIt() {
                  gsap.to(targets[count], { xPercent: -100 });
                  count = count < targets.length - 1 ? ++count : 0;
                  gsap.fromTo(targets[count], { xPercent: 100 }, { xPercent: 0 });
                  gsap.to({}, { duration: 8, onComplete: slideIt });
                }
                gsap.delayedCall(5, () => slideIt());
            }, false);
            </script>
        </div>
        <div class="homepage-nav-box">
            <div class="link-wrapper" id="home"><a href="/"> Home </a></div>
            <div class="link-wrapper" id="about"><a href="/about/"> About </a></div>
            <div class="link-wrapper" id="swingcal"><a href="/swingcal/"> SwingCal </a></div>
            <div class="link-wrapper" id="getinvolved"><a href="/getinvolved/"> Get Involved </a></div>
            <div class="link-wrapper" id="lindyatnight"><a href="/lindyatnight/"> Events </a></div>
            <script>
                // Highlights the current page link in the nav bar
                let currentPagePath = window.location.pathname.substring(1)
                if (currentPagePath.length === 0) {
                    currentPagePath = "home/";
                }
                let linkBox = document.querySelector("#" + currentPagePath.slice(0,-1))
                linkBox.style.backgroundColor = "white";
                linkBox.firstChild.style.color = "black";
            </script>
        </div>
        <div id="homepage-title">
            <p> Lindy on Sproul</p>
            <p id="homepage-subtitle"> UC Berkeley's Swing Dancing Community </p>
        </div>
        <div class="info-card">
            <div class="info-block">
            </div>
        </div>
    </div>
    {%- include footer.html -%}

  </body>

</html>
