<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {%- include head.html -%}

  <body>
    <div class='body-wrapper'>
        <div class='parallax'>
          <div class="parallax__layer parallax__layer--back">
            <img class="bg-image" src="./assets/sample_background.jpg"></img>
            <div class="sep-block"></div>
            <img class="bg-image" src="./assets/bg-image2.png"></img>
            <div class="sep-block"></div>
            <img class="bg-image" src="./assets/sample_background.jpg"></img>
            <div class="sep-block"></div>
            <img class="bg-image" src="./assets/bg-image2.png"></img>
            <div class="sep-block"></div>
          </div>
          <div class="parallax__layer parallax__layer--base">
            {%- include header.html -%}
            <main class="page-content" aria-label="Content">
              <div class="wrapper">
                {{ content }}
              </div>
            </main>
          </div>
        </div>
    </div>
    {%- include footer.html -%}

  </body>

</html>
